/* add home page styles here */
.games {
   border: 500px;
   border-style: solid;
   border-color: rgb(225, 5, 237);
   display: flex;
   flex-direction: row;
   
}

img {
    width: 200px;
    border-radius: 50%;
}

div {
    display: flex;
    flex-direction: row;
    flex: center ;
    border-radius: 50%;
}